@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body {
    font-family: 'Montserrat', sans-serif !important;
}

header {
    position: relative;
    background-color: #d4403b;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0;
    color: white;
}

@media (max-width: 753px) {
    header {
        padding-top: 30px;
    }
}

/* Navigation ------------------------------------------ */

.navigation {
    padding: 0px 100px;
}

.navigation .navigation__logo {
    display: inline;
}

.navigation__logo .navigation__wordmark {
    display: inline;
    margin-left: 10px;
    font-size: 32px;
    font-weight: bold;
}

.navigation__right {
    display: inline;
    margin-top: 20px;
    float: right;
}

.navigation__right .navigation__item {
    display: inline;
    margin-left: 17px;
    font-size: 15px;
}

.navigation__right .navigation__item:after {
    content: '\00B7';
    padding-left: 20px;
}

.navigation__right .navigation__item:last-of-type:after {
    content: '';
}

.navigation__item a {
    color: white;
}

.navigation__item a:hover {
    text-decoration: underline;
}

@media (max-width: 753px) {
    .navigation {
        padding: 0;
    }

    .navigation .navigation__logo {
        display: block;
        text-align: center;
    }

    .navigation__right {
        display: none;
        /* // background-color: black;
        // display: block;
        // margin-top: 0px;
        // float: none; */
    }
}

/* LHD Timer ------ */
.timer {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    margin-left: 80px;
}


/* Hero ------------------------------------------ */

header .hero {
    margin-top: 100px;
    margin-left: 100px;
}

.hero .title,
.hero .description {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.hero .title {
    font-size: 80px;
}

.hero .description {
    margin-top: 40px;
    line-height: 55px;
    max-width: 900px;
    font-size: 35px;
}

@media (max-width: 753px) {
    header .hero {
        margin-top: 35px;
        margin-left: 0px;
    }

    .hero .title {
        font-size: 40px;
        text-align: center;
    }

    .hero .description {
        margin-top: 40px;
        line-height: 30px;
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}





/* Cards ------------------------------------------ */

header .cards {
    position: relative;
    padding: 10px 0px 50px 100px;
    margin: 100px 0px 40px 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

header .cards::-webkit-scrollbar {
    display: none;
}


header .cards .card {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    padding: 20px;
    position: relative;

    margin-right: 20px;
    color: black;
    /* Dimensions */
    width: 350px;
    height: 250px;
    /* Style */
    border-radius: 15px;
    background-color: white;
    /* Shadow */
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.card:hover::after {
    opacity: 1;
}

.card .card__title {
    font-weight: bold;
    font-size: 18px;
    color: #d01919;
}

.card .card__content {
    padding-top: 20px;
}

.card .card__button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: center;
    right: 10px;
    padding: 5px 10px;
    background-color: #d01919;
    border-radius: 5px;
}

.card__button a {
    color: white;
}


@media (max-width: 753px) {
    header .cards {
        margin: 50px 0px 0px 0px;
        padding: 10px 0px 50px 50px;
    }
    .cards .card {
        width: 250px;
        height: 250px;
        margin-right: 10px;
    }
}





/* Announcements ------------------------------------------ */

section.announcement {
    background-color: rgba(236, 240, 241, 1.0);
    padding: 30px 20px;
    text-align: center;
    color: black;
    font-size: 18px;
    line-height: 35px;
    font-weight: normal;
}

.announcement a {
    color: black;
    text-decoration: underline;
}

.announcement .announcement__button {
    background-color: #d01919;
    color: white;
    font-size: 12px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 20px;
    display: inline;
    text-decoration: none;
    border-radius: 5px;
    transition: all .2s ease;
}

.announcement__button:hover {
    padding: 20px 30px;
}

@media (max-width: 753px) {
    .announcement .announcement__button {
        padding: 10px 15px;
        margin-left: 0px;
        margin-top: 10px;
        display: block;
        width: 100%;
    }
}


/* Sections ------------------------------------------ */

section {
    font-family: 'Montserrat', sans-serif;
    padding: 40px 100px;
    background-color: green;
}

section .section__container {
    width: 80%;
    margin: 0 auto;
}

.section__container .section__description {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.section__container h1.title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.section__description a {
    color: white;
    text-decoration: underline;
}

.ui.stackable.grid {
    margin-top: 0px !important;
}

@media (max-width: 753px) {
    section {
        padding: 40px 10px;
    }
    section .section__container {
        width: 100%;
    }
    .section__container .section__description {
        margin-top: 5px;
        font-size: 15px;
    }
    .section__container h1.title {
        text-align: center;
    }
}





/* Hacktorials ------------------------------------------ */

section.hacktorials {
    background-color: rgba(255,255,255, 1.0);
    color: black;
}

.hacktorials h1.title {
    color: black;
}

.hacktorials .section__description {
    color: black;
}

.hacktorials .ui.grid {
    margin-top: 30px;
}

.hacktorials__calendar .header {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px;
}

.hacktorials__calendar .header:first-of-type {
    margin-top: 0px;
}

@media (max-width: 753px) {


    .ui.segment.hacktorials__calendar {
        margin-top: 20px;
    }

    .hacktorials__calendar .header {
        text-align: center;
    }
}


/* Hackathons ------------------------------------------ */

section.hackathons {
    background-color: #d4403b;
}

.hackathons .ui.grid {
    margin-top: 30px;
}

.hackathons__calendar .header {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px;
}

.hackathons__calendar .header:first-of-type {
    margin-top: 0px;
}

@media (max-width: 753px) {
    .hackathons__description {
        text-align: center;
    }

    .ui.segment.hackathons__calendar {
        margin-top: 20px;
    }

    .hackathons__calendar .header {
        text-align: center;
    }
}

/* Hacktorials ------------------------------------------ */

section.collider {
    background-color: rgba(255,255,255, 1.0);
    color: black;
}

.collider h1.title {
    color: black;
}

.collider .section__description {
    color: black;
}

.collider .ui.grid {
    margin-top: 30px;
}

.collider__image_gallery img {
      max-width:100%;
  height:auto;

}

@media (max-width: 753px) {


    .ui.segment.collider__calendar {
        margin-top: 20px;
    }

    .collider__calendar .header {
        text-align: center;
    }
}

/* Teams */

section.team {
    background-color: #d4403b;
}

.team .team__card_container {
    margin-top: 40px;
}

.team .ui.grid {
    margin-top: 30px;
}

.team__calendar .header {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px;
}

.team__calendar .header:first-of-type {
    margin-top: 0px;
}

@media (max-width: 753px) {
    .team__description {
        text-align: center;
    }

    .ui.segment.team__calendar {
        margin-top: 20px;
    }

    .team__calendar .header {
        text-align: center;
    }
}