.innerHackathonTitle {
  /* Upcoming hackathons : */
  font-size: 1.3em;
  color: #FFFFFF;
  line-height: 28px;
  text-align: right;
  font-weight: bold
}

.hackathonLists {
  float: right;
  font-weight: lighter;
  .texts {
    float: right;
    /* HACKATHON, LOCATION: */
    font-size: 1.5em;
    color: #FFFFFF;
    line-height: 28px;
  }
}

.hackathonLogos {
  width: auto;
  height: 60px;
}